// VARIABLES


// RESET
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
button:hover,
button:focus {

}

// BASE STYLES
.page {
  font-family: 'Inter', sans-serif;
  height: 100vh;
  width: 100vw;
  background-image: radial-gradient(ellipse, #385300, #212900);
}

.counter {
 

  &__title {

  }

  &__value {

  }

  &__reset-button {

  }

  &__reset-icon {

  }

  &__buttons

  &__button {

    &--decrease {

    }

    &--increase {

    }
  }

  &__icon {

    &--minus {

    }

    &--plus {

    }
  }
}

// STYLES