// VARIABLES
$color-neon-green: #bef227;

// RESET
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
button:hover,
button:focus {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

// BASE STYLES
.page {
  font-family: 'Inter', sans-serif;
  height: 100vh;
  width: 100vw;
  background-image: radial-gradient(ellipse, #385300, #212900);

  display: flex;
  justify-content: center;
  align-items: center;
}

// STYLES

.counter {
  background-color: $color-neon-green;
  width: 476px;
  height: 615px;
  border-radius: 12px;
  box-shadow: 0 25px 121px rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {

  }

  // ---------------------

  &__value {

  }

  // ---------------------

  &__reset-button {

  }

  &__reset-icon {

  }

  // ---------------------

  &__buttons {
    margin-top: auto;
  }

    &__button {

      &--decrease {

      }

      &--increase {

      }
    }

      &__icon {

        &--minus {

        }

        &--plus {

        }
      }
}