// RESET

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// BASE STYLES
.counter {
  font-family: 'Inter', sans-serif;

  &__title {

  }

  &__value {

  }

  &__reset-button {

  }

  &__reset-icon {

  }

  &__buttons

  &__button {

    &--decrease {

    }

    &--increase {

    }
  }

  &__icon {

    &--minus {

    }

    &--plus {
      
    }
  }
}

// STYLES